.isr-with-swr {
    width: 700px;
    @include flex();
    flex-direction: column;
    gap: 30px;

    .title {
        @include bold(2rem);
    }

    .section {
        @include flex();
        flex-direction: column;
    }
}
